.rwe{
 display: flex;
 justify-content: center;
 align-items: center;
}

.ter{
    font-size: 20px;
    color: red;
    margin: 10px;
}

.forg{
    display: flex;
    justify-content: space-around;
}

.calc1{
    margin-bottom: 100px;
}

.for12{
    display: flex;
justify-content: center;
align-items: center;
color: rgb(230, 227, 227);
width: 400px;
height: 70px;
margin-bottom: 100px;
background: linear-gradient(151deg, #fb000091, #000)


}

.calc2{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
padding: 50px;
    background-color: rgb(240, 241, 245);
}

.input1{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-bottom: 20px;
    border-radius: 50px;
    
}

.h2p{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.border{
    border: 1px solid;
    border-radius:7px ;
}